GOOGLE_SHEET_ID=your_google_sheet_id_here


GOOGLE_SERVICE_ACCOUNT_EMAIL=your_service_account_email@project-id.iam.gserviceaccount.com


GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYourPrivateKeyHere\n-----END PRIVATE KEY-----\n"


PORT=3000

FRONTEND_URL=*


API_KEY=your_secure_api_key_here_change_this
