# d/......./edit
GOOGLE_SHEET_ID=google-sheet-id


GOOGLE_SERVICE_ACCOUNT_EMAIL=finance-sheets-admin@--project-id.com


GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\/GYZWufAzXNCx6MupjI\/\/b0h383Fz+aCFIt+\++/xau/vZ/z6iyy6A\//\+\nR1VLTTY8ga//\no+/Py6fZ58yc/R42QUEku79lAemqT/IFiJ1bNMy2yA\JJEWTnfedKa4ElHQoDEWX+IEnKfQq3Gl29Kg62xSfSiJmaLlcW6SMio0y\nPLttscHatMNnq6V/js3iNmNt/H1iDUNEkjNprrYFUTj2grVle7vdnDRPZoQpdmGt\++\+cO2hnO/\+j1d2KqX0vq46qIJcX3X3L7O6RbLJvxehteq62KbfQr\nl5yL0co8HLocHNYvP09pZG8=\n-----END PRIVATE KEY-----\n"


PORT=3003

ALLOWED_ORIGINS=http://localhost:3001


FRONTEND_URL=http://localhost:3001


API_KEY=kalit
